<!--<div class="row wow fadeIn">
  <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
           Card -->
<div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up indigo lighten-1"></div>

    <!-- Avatar -->
    <div class="avatar mx-auto white">
      <img src="{{ eleve.image }}" class="rounded-circle img-thumbnail img-fluid" alt="woman avatar" width="200" height="200" >
    </div>

    <!-- Content -->
    <div class="card-body ml-3">
      <!-- Name -->
      <h4 class="card-title">Anna Doe</h4>
      <hr>
      <!-- Quotation -->
      <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
    </div>

  </div>

        <!-- </div>
    </div>
  </div>
</div>-->

